svg {
  padding: 20px;
  width: 250px;
  height: 250px;
  position: relative;
  float: left;
}

.navbar {
  margin: 0 auto;
}

.nav-ul {
  width: 760px;
  height: 130px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

